html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  background-color: rgb(146, 227, 169);
  font-family: 'Poppins', serif;
}



.info-key svg {
  max-width: 40%;
  min-width: auto;
  height: auto;
  position: relative;
  left: 50%;
  margin-top: 5%;
  z-index: 0;
  top: 0;
  transition: top 0.3s ease;
}

.informations {
  position: relative;
  bottom: 45vh;
  left: 35vh;
  font-family: Arial, Helvetica, sans-serif;
}

.informations h1 {
  color: rgb(87, 90, 90);
  font-size: 25px;

}

.informations p {
  font-size: 12px;
}

.firt-but {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(87, 90, 90);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.5s ease;
  width: 170px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.firt-but:hover {
  background-color: rgb(146, 227, 169);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(146, 227, 169) 0px 7px 29px 0px;
}

.firt-but:active {
  background-color: rgb(146, 227, 169);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(146, 227, 169) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.second-sec {
  background: linear-gradient(rgb(146, 227, 169), rgb(70, 167, 97));
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 100px;
}


.card {
  display: inline-block;
  width: 190px;
  height: 254px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 20px;
  margin-right: 10px;
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card:hover {
  box-shadow: 0px 0px 20px 1px #2e6adb91;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.ball-1 {
  content: "";
  border: rgb(128, 128, 128, 0.25) solid 2px;
  width: 110px;
  height: 110px;
  position: relative;
  left: 30vh;
  z-index: 0;
  top: 41vh;
  border-radius: 50%;
}

.container-rt {
  position: relative;
  bottom: 25vh;
}

.info {
  height: 530px;
}

.ball-2 {
  content: "";
  border: rgb(128, 128, 128, 0.25) solid 2px;
  width: 30px;
  height: 30px;
  position: relative;
  left: 273px;
  z-index: 1;
  top: 120px;
  border-radius: 50%;
}

.card__content h1 {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  color: rgb(94, 94, 94);
  font-weight: 200px;
}

.card__content ul {
  margin-top: 12px;
  font-family: 'Poppins', serif;

}

.cards-sec {
  display: inline-flex;
}

.card__content i {
  margin-left: 6px;
  width: 5px;
  height: 5px;
}

.second-img svg {
  max-width: 21%;
  min-width: auto;
  position: relative;
  bottom: 304px;
  z-index: 1;
}

.informations-2 {
  position: relative;
  left: 720px;
  bottom: 225px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 2px solid rgb(255, 255, 255, 0.25);
  padding-left: 20px;
  padding-bottom: 5px;
}

.informations-2 h1 {
  color: rgb(87, 90, 90);
  font-family: 'Poppins', sans-serif;
}

.informations-2 p {
  font-size: 15px;
}

.button-search {
  display: block;
  position: relative;
  width: 50px;
  height: 39px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 1;
}

.button-search:before,
.button-search:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button-search:before {
  border: 3px solid #000000;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-search:after {
  border: 3px solid #2e6adb91;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button-search:hover:before,
.button-search:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button-search:hover:after,
.button-search:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-search-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-search-elem {
  display: block;
  width: 15px;
  height: 15px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #000000;
}

.button-search:hover .button-search-box,
.button-search:focus .button-search-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

.social-media-content-box {
  height: 200px;
  width: 15%;
  position: relative;
  top: 63px;
  left: 30px;
  border-radius: 15px;
}



.text-lgpd-section {
  background-color: rgba(82, 76, 76, 0.11);
  border: 1px solid rgba(112, 112, 112, 0.164);
  -webkit-backdrop-filter: blur(20px);
  width: 800px;
  height: auto;
  position: relative;
  left: 320px;
  bottom: 200px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgb(146, 227, 169);
  border: 1px solid rgba(255, 255, 255, 0.454);
  
}

.text-lgpd-section-content {
  font-size: 18px;
  margin: 15px;
  font-weight: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.social-media-content-box-card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.social-media-content-box-small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.social-media-content-box-small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(rgb(87, 90, 90), rgb(170, 170, 170));
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: black;
  font-family: courier, sans;
}

.social-media-content-box {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(rgb(87, 90, 90), rgb(170, 170, 170));
  font-family: Arial, Helvetica, sans-serif;
}

.social-media-content-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(rgb(146, 227, 169), rgb(70, 167, 97));
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.social-media-content-box:hover:before {
  transform: scale(28);
}

.social-media-content-box:hover .social-media-content-box-small-desc {
  transition: all 0.5s ease-out;
  color: black;
}

.csocial-media-content-box:hover .social-media-content-box-card-title {
  transition: all 0.5s ease-out;
  color: black;
}

.container-text-lgpd {
  position: relative;
  bottom: 70px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position:static;
  bottom: 0;
  width: 100%;
}



