body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    background-color: rgb(146, 227, 169);
    font-family: 'Poppins', serif;
}

    

    .info-key svg {
        max-width: 40%;
        min-width: auto;
        height: auto;
        position: relative;
        left: 50%;
        margin-top: 5%;
        z-index: 0;
        top: 0;
        transition: top 0.3s ease;
    }

    .informations {
        position: relative;
        bottom: 45vh;
        left: 15vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .informations h1 {
        color: rgb(87, 90, 90);
        font-size: 25px;

    }

    .informations p {
        font-size: 12px;
    }

    .firt-but {
        padding: 17px 40px;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        background-color: rgb(87, 90, 90);
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.5s ease;
        width: 170px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .firt-but:hover {
        background-color: rgb(146, 227, 169);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(146, 227, 169) 0px 7px 29px 0px;
    }

    .firt-but:active {
        background-color: rgb(146, 227, 169);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(146, 227, 169) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

    .second-sec {
        background: linear-gradient(rgb(146, 227, 169), rgb(70, 167, 97));
        width: 100%;
        height: 300px;
        position: relative;
        bottom: 100px;
    }
